In [50]:
import pandas as pd

In [55]:

df_dataset = pd.read_csv("Wednesday-28-02-2018_TrafficForML_CICFlowMeter.csv")

C:\Windows\Temp\ipykernel_20372\2791550241.py:1: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dataset = pd.read_csv("Wednesday-28-02-2018_TrafficForML_CICFlowMeter.csv")

In [56]:
df_dataset

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,443,6,28/02/2018 08:22:13,206,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
2,445,6,28/02/2018 08:22:15,165505,3,1,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
3,443,6,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
4,443,6,28/02/2018 08:22:16,167,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,6,28/02/2018 11:59:12,3,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613100,425,6,28/02/2018 10:50:04,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613101,445,6,28/02/2018 12:52:55,732728,2,2,0,0,0,0,...,32,0,0,0,0,0,0,0,0,Benign
613102,23,6,28/02/2018 11:10:50,22,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613103,443,6,28/02/2018 11:12:18,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration

In [57]:
df_dataset.columns

Index(['Dst Port', 'Protocol', 'Timestamp', 'Flow Duration', 'Tot Fwd Pkts',
       'Tot Bwd Pkts', 'TotLen Fwd Pkts', 'TotLen Bwd Pkts', 'Fwd Pkt Len Max',
       'Fwd Pkt Len Min', 'Fwd Pkt Len Mean', 'Fwd Pkt Len Std',
       'Bwd Pkt Len Max', 'Bwd Pkt Len Min', 'Bwd Pkt Len Mean',
       'Bwd Pkt Len Std', 'Flow Byts/s', 'Flow Pkts/s', 'Flow IAT Mean',
       'Flow IAT Std', 'Flow IAT Max', 'Flow IAT Min', 'Fwd IAT Tot',
       'Fwd IAT Mean', 'Fwd IAT Std', 'Fwd IAT Max', 'Fwd IAT Min',
       'Bwd IAT Tot', 'Bwd IAT Mean', 'Bwd IAT Std', 'Bwd IAT Max',
       'Bwd IAT Min', 'Fwd PSH Flags', 'Bwd PSH Flags', 'Fwd URG Flags',
       'Bwd URG Flags', 'Fwd Header Len', 'Bwd Header Len', 'Fwd Pkts/s',
       'Bwd Pkts/s', 'Pkt Len Min', 'Pkt Len Max', 'Pkt Len Mean',
       'Pkt Len Std', 'Pkt Len Var', 'FIN Flag Cnt', 'SYN Flag Cnt',
       'RST Flag Cnt', 'PSH Flag Cnt', 'ACK Flag Cnt', 'URG Flag Cnt',
       'CWE Flag Count', 'ECE Flag Cnt', 'Down/Up Ratio', 'Pkt Size Avg',
       'Fwd Seg Size Avg', 'Bwd Seg Size Avg', 'Fwd Byts/b Avg',
       'Fwd Pkts/b Avg', 'Fwd Blk Rate Avg', 'Bwd Byts/b Avg',
       'Bwd Pkts/b Avg', 'Bwd Blk Rate Avg', 'Subflow Fwd Pkts',
       'Subflow Fwd Byts', 'Subflow Bwd Pkts', 'Subflow Bwd Byts',
       'Init Fwd Win Byts', 'Init Bwd Win Byts', 'Fwd Act Data Pkts',
       'Fwd Seg Size Min', 'Active Mean', 'Active Std', 'Active Max',
       'Active Min', 'Idle Mean', 'Idle Std', 'Idle Max', 'Idle Min', 'Label'],
      dtype='object')

In [58]:
df_dataset["Label"].unique()

array(['Benign', 'Label', 'Infilteration'], dtype=object)

### 2- Removing row with erroneous 'Label' label

In [59]:
# Remove erroneous 'Label' row
df_dataset.drop(df_dataset.loc[df_dataset["Label"] == "Label"].index, inplace=True)

In [60]:
df_dataset

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,443,6,28/02/2018 08:22:13,206,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
2,445,6,28/02/2018 08:22:15,165505,3,1,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
3,443,6,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
4,443,6,28/02/2018 08:22:16,167,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,6,28/02/2018 11:59:12,3,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613100,425,6,28/02/2018 10:50:04,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613101,445,6,28/02/2018 12:52:55,732728,2,2,0,0,0,0,...,32,0,0,0,0,0,0,0,0,Benign
613102,23,6,28/02/2018 11:10:50,22,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration
613103,443,6,28/02/2018 11:12:18,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Infilteration

In [61]:
df_dataset["Label"].unique()

array(['Benign', 'Infilteration'], dtype=object)

### 3- Creating "Malicious" label from the "Bot", "DoS attacks-SlowHTTPTest", and "DoS attacks-Hulk" labels

In [62]:
df_dataset.replace(to_replace=['Infilteration'], value="Malicious", inplace=True)

In [63]:
df_dataset

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
1,443,6,28/02/2018 08:22:13,206,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
2,445,6,28/02/2018 08:22:15,165505,3,1,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
3,443,6,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
4,443,6,28/02/2018 08:22:16,167,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,6,28/02/2018 11:59:12,3,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Malicious
613100,425,6,28/02/2018 10:50:04,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Malicious
613101,445,6,28/02/2018 12:52:55,732728,2,2,0,0,0,0,...,32,0,0,0,0,0,0,0,0,Benign
613102,23,6,28/02/2018 11:10:50,22,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Malicious
613103,443,6,28/02/2018 11:12:18,2,1,1,0,0,0,0,...,24,0,0,0,0,0,0,0,0,Malicious

In [64]:
df_dataset["Label"].unique()

array(['Benign', 'Malicious'], dtype=object)

In [65]:
print(df_dataset["Label"].value_counts()[['Benign']].sum())
print(df_dataset["Label"].value_counts()[['Malicious']].sum())

544200
68871

### 4- Checking "Protocol" values, and creating dummies based on the assumption that the Protocol values are categorical

In [66]:
df_dataset["Protocol"].unique()

array([6, 0, 17, '6', '17', '0'], dtype=object)

In [67]:
# Forcing them to be strings
df_dataset = df_dataset.astype({"Protocol": str})

In [68]:
df_dataset["Protocol"].unique()

array(['6', '0', '17'], dtype=object)

In [69]:
df_dataset = pd.get_dummies(df_dataset, columns=['Protocol'], drop_first=True)

In [70]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label,Protocol_17,Protocol_6
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,Benign,0,1
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,Benign,0,1
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,Benign,0,1
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,Benign,0,1
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,Benign,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,Malicious,0,1
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,Malicious,0,1
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,Benign,0,1
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,Malicious,0,1
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,Malicious,0,1

In [71]:
# making Label column the last column again
df_dataset.insert(len(df_dataset.columns)-1, 'Label', df_dataset.pop('Label'))

In [72]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Protocol_17,Protocol_6,Label
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Benign
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious

### 5- Dropping some columns that may be irrelevant (would require re-analysis)

In [73]:
columns_to_drop = [
    'Flow Byts/s',  # This field had np.inf values during training, as such was removed
    'Flow Pkts/s'  # This field had np.inf values during training, as such was removed
]

In [74]:
df_dataset.drop(columns=columns_to_drop, inplace=True)

In [75]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Protocol_17,Protocol_6,Label
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Benign
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious

### 6- Dropping missing or duplicate values

In [76]:
df_dataset.dropna(inplace=True)

In [77]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Protocol_17,Protocol_6,Label
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Benign
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious

In [78]:
df_dataset.drop_duplicates(inplace=True)

In [79]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Protocol_17,Protocol_6,Label
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Benign
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Malicious

### 7- Checking distribution of labels after dropping missing or duplicate values

* Malicious: 21.260%
* Benign: 78.739%

In [80]:
print(df_dataset["Label"].value_counts()[['Benign']].sum())
print(df_dataset["Label"].value_counts()[['Malicious']].sum())

538508
68858

### 8- Replacing Benign labels with zeroes and Malicious labels with ones

In [81]:
df_dataset.replace(to_replace="Benign", value=0, inplace=True)
df_dataset.replace(to_replace="Malicious", value=1, inplace=True)

In [82]:
df_dataset

,Dst Port,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,Fwd Pkt Len Mean,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Protocol_17,Protocol_6,Label
0,443,28/02/2018 08:22:13,94658,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,0
1,443,28/02/2018 08:22:13,206,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,0
2,445,28/02/2018 08:22:15,165505,3,1,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,0
3,443,28/02/2018 08:22:16,102429,6,7,708,3718,387,0,118.0,...,0.0,0,0,0.0,0.0,0,0,0,1,0
4,443,28/02/2018 08:22:16,167,2,0,0,0,0,0,0.0,...,0.0,0,0,0.0,0.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613099,23,28/02/2018 11:59:12,3,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
613100,425,28/02/2018 10:50:04,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
613101,445,28/02/2018 12:52:55,732728,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
613102,23,28/02/2018 11:10:50,22,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
613103,443,28/02/2018 11:12:18,2,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [83]:
print(df_dataset["Label"].value_counts()[[0]].sum())
print(df_dataset["Label"].value_counts()[[1]].sum())

538508
68858

### 9- Saving dataset

In [84]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607366 entries, 0 to 613103
Data columns (total 79 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Dst Port           607366 non-null  object
 1   Timestamp          607366 non-null  object
 2   Flow Duration      607366 non-null  object
 3   Tot Fwd Pkts       607366 non-null  object
 4   Tot Bwd Pkts       607366 non-null  object
 5   TotLen Fwd Pkts    607366 non-null  object
 6   TotLen Bwd Pkts    607366 non-null  object
 7   Fwd Pkt Len Max    607366 non-null  object
 8   Fwd Pkt Len Min    607366 non-null  object
 9   Fwd Pkt Len Mean   607366 non-null  object
 10  Fwd Pkt Len Std    607366 non-null  object
 11  Bwd Pkt Len Max    607366 non-null  object
 12  Bwd Pkt Len Min    607366 non-null  object
 13  Bwd Pkt Len Mean   607366 non-null  object
 14  Bwd Pkt Len Std    607366 non-null  object
 15  Flow IAT Mean      607366 non-null  object
 16  Flow IAT Std       607366 non-null  object
 17  Flow IAT Max       607366 non-null  object
 18  Flow IAT Min       607366 non-null  object
 19  Fwd IAT Tot        607366 non-null  object
 20  Fwd IAT Mean       607366 non-null  object
 21  Fwd IAT Std        607366 non-null  object
 22  Fwd IAT Max        607366 non-null  object
 23  Fwd IAT Min        607366 non-null  object
 24  Bwd IAT Tot        607366 non-null  object
 25  Bwd IAT Mean       607366 non-null  object
 26  Bwd IAT Std        607366 non-null  object
 27  Bwd IAT Max        607366 non-null  object
 28  Bwd IAT Min        607366 non-null  object
 29  Fwd PSH Flags      607366 non-null  object
 30  Bwd PSH Flags      607366 non-null  object
 31  Fwd URG Flags      607366 non-null  object
 32  Bwd URG Flags      607366 non-null  object
 33  Fwd Header Len     607366 non-null  object
 34  Bwd Header Len     607366 non-null  object
 35  Fwd Pkts/s         607366 non-null  object
 36  Bwd Pkts/s         607366 non-null  object
 37  Pkt Len Min        607366 non-null  object
 38  Pkt Len Max        607366 non-null  object
 39  Pkt Len Mean       607366 non-null  object
 40  Pkt Len Std        607366 non-null  object
 41  Pkt Len Var        607366 non-null  object
 42  FIN Flag Cnt       607366 non-null  object
 43  SYN Flag Cnt       607366 non-null  object
 44  RST Flag Cnt       607366 non-null  object
 45  PSH Flag Cnt       607366 non-null  object
 46  ACK Flag Cnt       607366 non-null  object
 47  URG Flag Cnt       607366 non-null  object
 48  CWE Flag Count     607366 non-null  object
 49  ECE Flag Cnt       607366 non-null  object
 50  Down/Up Ratio      607366 non-null  object
 51  Pkt Size Avg       607366 non-null  object
 52  Fwd Seg Size Avg   607366 non-null  object
 53  Bwd Seg Size Avg   607366 non-null  object
 54  Fwd Byts/b Avg     607366 non-null  object
 55  Fwd Pkts/b Avg     607366 non-null  object
 56  Fwd Blk Rate Avg   607366 non-null  object
 57  Bwd Byts/b Avg     607366 non-null  object
 58  Bwd Pkts/b Avg     607366 non-null  object
 59  Bwd Blk Rate Avg   607366 non-null  object
 60  Subflow Fwd Pkts   607366 non-null  object
 61  Subflow Fwd Byts   607366 non-null  object
 62  Subflow Bwd Pkts   607366 non-null  object
 63  Subflow Bwd Byts   607366 non-null  object
 64  Init Fwd Win Byts  607366 non-null  object
 65  Init Bwd Win Byts  607366 non-null  object
 66  Fwd Act Data Pkts  607366 non-null  object
 67  Fwd Seg Size Min   607366 non-null  object
 68  Active Mean        607366 non-null  object
 69  Active Std         607366 non-null  object
 70  Active Max         607366 non-null  object
 71  Active Min         607366 non-null  object
 72  Idle Mean          607366 non-null  object
 73  Idle Std           607366 non-null  object
 74  Idle Max           607366 non-null  object
 75  Idle Min           607366 non-null  object
 76  Protocol_17        607366 non-null  uint8
 77  Protocol_6         607366 non-null  uint8
 78  Label              607366 non-null  int64
dtypes: int64(1), object(76), uint8(2)
memory usage: 362.6+ MB

In [85]:
df_dataset.to_csv("processed_Infilteration_2.csv", index=False)

joining to dataset togather

In [86]:
import pandas as pd

# load the two CSV files into dataframes
df1 = pd.read_csv('processed_Infilteration_2.csv')
df2 = pd.read_csv('processed_Infilteration.csv')

# concatenate the two dataframes
concatenated = pd.concat([df1, df2])

# save the concatenated dataframe to a new CSV file
concatenated.to_csv('final_dataset_Infilteration.csv', index=False)

In [88]:
print(concatenated["Label"].value_counts()[[0]].sum())
print(concatenated["Label"].value_counts()[[1]].sum())

776502
161898